// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
// src/theme/variables.scss

// Definisikan variabel tema di sini
$font-family-base: 'Roboto', sans-serif;

$ion-background-color: #ffffff;
$ion-text-color: #000000;

$ion-toolbar-background-color: #f8f8f8;
$ion-toolbar-text-color: #000000;

$ion-content-background-color: #ffffff;

$ion-button-background-color: #3880ff;
$ion-button-text-color: #ffffff;
